nav{
	background-color: 2A39D5;
}

.active{
	background-color: 2A8ED5;
}
.col1{
	background-color: 2A39D5;
	color: white;
}

.col1Btn{
	background-color: 3041F2;
	color: white;
}
.col2{
	background-color: 712AD5;
	color: white;
}

.col2Btn{
	background-color: 8632FC;
	color: white;
}

.col3{
	background-color: 2A8ED5;
	color: white;
}

.col3Btn{
	background-color: 32AAFF;
	color: white;
}

footer{
	background-color: F0DF2F;
}