* {
	margin: 0;
	padding: 0;
}

.contentBorderTop{
	background-color: #712AD5;
	padding: 10px 10px;
}

.contentBorderSide{
	background-color: #712AD5;
	padding: 10px 20px;
}


h1{
	text-align: center;
	font-weight: bold;
}

.contentTitle{
	text-align: center;
	font-weight: bold;
}


h2,h3{
	text-align: left;
	font-weight: bold;
	font-size: 6.1vh;
}

p{
	font-size: 1em;
}

.col1 p{
	padding-left: 40px;
	padding-right: 40px;
}

.col2 p{
	padding-left: 40px;
	padding-right: 40px;
}

.col2 p{
	padding-left: 40px;
	padding-right: 40px;
}

nav{
	background-color: #2A39D5;
	color: white;
}

nav ul li {
	display: inline-block;
	align-items: center;
	font-family: 'Oswald', sans-serif;
	color: white;
}
nav ul li a {
	display: block;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;	
}

.active{
	background-color: #2A8ED5;
}

.activeYellow{
	background-color: #e0cc11;
}

.col1{
	background-color: #2A39D5;
	color: white;
}

.col2{
	background-color: #712AD5;
	color: white;
}

.col3{
	background-color: #2A8ED5;
	color: white;
}

.articleContainer{
	display: flex;
    flex-direction: row;
}

.col1,.col2,.col3{
	flex: 1;
	border: 2px black solid;
	min-height: 80vh;
	padding: 10px 10px;
	margin-left: auto;
	margin-right: auto;
}

.col1Btn,.col2Btn,.col3Btn{
	border-radius: 10px;
	border: 2px black solid;
	padding: 10px 10px;
	color: white;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.col1Btn{
	background-color: #3041F2;
}

.col2Btn{
	background-color: #8632FC;
}

.col3Btn{
	background-color: #32AAFF;
}

.contentArea{
	display: flex;
	flex-direction: row;
	min-height: 80em;
}

.contentBorderTop{
	flex: 1;
}

main{
	flex: 6;
}

header{
	min-height: 10vh;
}

.textInput{
	display: flex;
	flex-direction: row;
	padding-bottom: 10px;
}

.textInput label,textarea{
	flex: 1;
} 

.outputArea{
	display: none;
}

textarea{
	width: 40px;
	height: 40px;
}

.insertedText{
	text-decoration: none;
}
.planList{
	padding-left: 20px;
}

.errorMessage{
	color: red;
}

.exampleText{
	font-weight: bold;
	color: green;
}

.content p{
	padding-left: 30px;
	padding-right: 30px;
	font-size: 3vh;
}

.content label{
	padding-left: 30px;
	padding-right: 30px;
	font-size: 3vh;
}

.headerContent{
	display: flex;
}

.headerContent img{
	flex: 1;
	align-items: left;
}

.headerContent h1{
	flex: 1;
	text-align: center;
	display: block;
}
footer{
	background-color: #F0DF2F;
	text-align: right;
	color: black;
	min-height: 10vh;
	padding-top: 27px;
}

@media (max-width: 500px){
	.headerContent {
		flex-direction: column;
	}

	.headerContent h1{
		display: none;
	}
	.articleContainer{
		flex-direction: column;
	}

	.textInput{
		flex-direction: column;
	}

	.contentArea{
		flex-direction: column;
	}
}